---
import { NAVLINKS } from "@/config/const";
import Btn from "../ui/Btn.astro";
import Image from "astro/components/Image.astro";
---

<header
  class="bg-white-10 border-b-1 py-2 md:py-4 sticky top-0 z-50 px-4 md:px-16"
>
  <div class="container mx-auto px-4 py-3 flex justify-between items-center">
    <a href="#" class="text-xl font-bold text-gray-800">
      <Image
        src="/logo/ColoredCliksLogo.webp"
        alt="Yellow Cliks Logo"
        width={200}
        height={100}
      /></a
    >
    <nav class="flex items-center">
      <div id="desktop-nav" class="hidden md:flex gap-4">
        {
          NAVLINKS.map((link) => (
            <a
              href={link.href}
              target={link.external ? "_blank" : "_self"}
              rel={link.external ? "noopener noreferrer" : undefined}
              class="relative inline-block group"
            >
              <span>{link.text}</span>
              <span class="absolute inset-x-0 -bottom-2 h-0.5 bg-real-brand transform origin-right scale-x-0 group-hover:scale-x-100 transition-transform duration-300 ease-in-out" />
            </a>
          ))
        }
      </div>
      <div
        id="hamburger"
        class="hamburger md:hidden flex flex-col justify-between h-5"
      >
        <span class="bg-black"></span>
        <span class="bg-black"></span>
        <span class="bg-black"></span>
      </div>
    </nav>
  </div>
  <div id="mobile-nav" class="nav-links md:hidden bg-white-10 rounded-md">
    {
      NAVLINKS.map((link) => (
        <a
          href={link.href}
          target={link.external ? "_blank" : "_self"}
          rel={link.external ? "noopener noreferrer" : undefined}
          class="block py-2 px-4 text-gray-600 hover:text-gray-900"
        >
          {link.text}
        </a>
      ))
    }
  </div>
</header>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const hamburger = document.getElementById("hamburger");
    const mobileNav = document.getElementById("mobile-nav");

    hamburger.addEventListener("click", () => {
      hamburger.classList.toggle("open");
      mobileNav.classList.toggle("open");
    });

    mobileNav.addEventListener("click", (e) => {
      if (e.target.tagName === "A") {
        hamburger.classList.remove("open");
        mobileNav.classList.remove("open");
      }
    });
  });
</script>
