---
import H2 from "../ui/H2.astro";
---

<section class="flex flex-col items-center" arai-lable="Partnership">
  <H2 text="نفخر بشراكتنا مع" />
  <div class="my-6 flex flex-row flex-wrap gap-4 justify-center">
    <a
      href="https://www.google.com/partners/agency?id=5892162601"
      target="_blank"
    >
      <img
        class="w-auto h-25"
        src="https://www.gstatic.com/partners/badge/images/2025/PartnerBadgeClickable.svg"
      />
    </a>

    <a
      href="https://www.semrush.com/agencies/cliks-digital-marketing-agency/"
      rel="noreferrer noopener"
      target="_blank"
    >
      <img
        decoding="async"
        src="https://static.semrush.com/agency-directory/shared/badge.svg"
        width="100"
        height="100"
        alt=""
        class="w-auto h-25"
      />
    </a>
  </div>
</section>
