---
import H1 from "@/components/ui/H1.astro";
import Layout from "@/layouts/Layout.astro";
import SEO from "@/components/ui/SEO.astro";
import { SITE } from "@/config/const";
import Btn from "@/components/ui/Btn.astro";
---

<Layout>
  <SEO
    title="صفحة غير موجودة"
    description="عذرًا، الصفحة التي تبحث عنها غير موجودة. يمكنك العودة إلى الصفحة الرئيسية أو استكشاف المزيد من المعلومات"
    url={`${SITE.title}/404`}
    image="/assets/og-image.png"
  />

  <section class="min-h-full flex justify-start text-right text-text">
    <div>
      <H1 text="خطأ 404" />
      <p class="text-md mt-4 text-text">لم نجد ما تبحث عنه..</p>
    </div>
    <Btn text="الرئيسية" href="/" />
  </section>
</Layout>
