---
import Hero from "@/components/astro/Hero.astro";
import Layout from "@/layouts/Layout.astro";
import Partnership from "@/components/astro/Partnership.astro";
import Feature from "@/components/astro/Feature.astro";
import CallToAction from "@/components/astro/CallToAction.astro";
import Service from "@/components/astro/Service.astro";
<<<<<<< HEAD
import Main from "@/components/ui/Main.astro";
import LogoSlider from "@/components/astro/LogoSlider.astro";
import HeaderHero from "@/components/astro/HeaderHero.astro";
---

<Layout>
  <HeaderHero />
  <Main>
    <Partnership />
    <LogoSlider />
    <Feature />
    <Service />
    <CallToAction />
  </Main>
=======
---

<Layout>
  <Hero />
  <Partnership />
  <Feature />
  <Service />
  <CallToAction />
>>>>>>> origin/main
</Layout>
