---
const { href, text } = Astro.props;
import { CornerLeftDown } from "@lucide/astro";
---

<a
  rel="noopener noreferrer"
  href={href}
  class="bg-brand hover:to-brand-hover cursor-pointer hover:bg-bg-600 text-text flex items-center gap-2 border-1 px-6 py-2 rounded-md transition duration-200 hover:opacity-90"
>
  {text}
  <CornerLeftDown class="w-5 h-5" />
</a>
